[submodule "common/Corium"]
	path = common/Corium
	url = https://github.com/devsw-prayas/Corium.git
	branch = bleeding-edge
[submodule "common/Kerbecs"]
	path = common/Kerbecs
	url = https://github.com/devsw-prayas/Kerbecs.git
	branch = bleeding-edge
[submodule "common/Stratum"]
	path = common/Stratum
	url = https://github.com/devsw-prayas/Stratum.git
	branch = bleeding-edge
[submodule "common/StormSTL"]
	path = common/StormSTL
	url = https://github.com/devsw-prayas/StormSTL.git
	branch = bleeding-edge
[submodule "common/Leibniz"]
	path = common/Leibniz
	url = https://github.com/devsw-prayas/Leibniz.git
	branch = bleeding-edge
[submodule "common/Hades-Benchmark"]
	path = common/Hades-Benchmark
	url = https://github.com/devsw-prayas/Hades-Benchmark.git
	branch = bleeding-edge
[submodule "external/VMA"]
	path = external/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
