[submodule "common/Instrumenta"]
	path = common/Instrumenta
	url = https://github.com/devsw-prayas/Instrumenta
	branch = bleeding-edge
[submodule "common/Corium"]
	path = common/Corium
	url = https://github.com/devsw-prayas/Corium.git
	branch = bleeding-edge
[submodule "common/devswSTL"]
	path = common/devswSTL
	url = https://github.com/devsw-prayas/devswSTL
	branch = bleeding-edge
[submodule "common/Kerbecs"]
	path = common/Kerbecs
	url = https://github.com/devsw-prayas/Kerbecs.git
	branch = bleeding-edge
