[submodule "common/Corium"]
	path = common/Corium
	url = https://github.com/devsw-prayas/Corium.git
	branch = bleeding-edge
[submodule "common/devswSTL"]
	path = common/devswSTL
	url = https://github.com/devsw-prayas/devswSTL
	branch = bleeding-edge
[submodule "common/Kerbecs"]
	path = common/Kerbecs
	url = https://github.com/devsw-prayas/Kerbecs.git
	branch = bleeding-edge
[submodule "common/Stratum"]
	path = common/Stratum
	url = https://github.com/devsw-prayas/Stratum.git
	branch = bleeding-edge
[submodule "common/Lebnitz"]
	path = common/Lebnitz
	url = https://github.com/devsw-prayas/Lebnitz
	branch = bleeding-edge
